* {
  box-sizing: border-box;
}
body {
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
}
main {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 9%;
}
p {
  font-family: Lexend Deca;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}
h1 {
  font-family: Big shoulders Display;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
}
.sedans {
  width: 100%;
  background-color: hsl(31, 77%, 52%);
  padding: 30px 50px;
  border-radius: 8px 0px 0px 8px;
}
.suvs {
  width: 100%;
  background-color: hsl(184, 100%, 22%);
  padding: 30px 50px;
}
.luxury {
  width: 100%;
  background-color: hsl(179, 100%, 13%);
  padding: 30px 50px;
  border-radius: 0px 8px 8px 0px;
}
button {
  font-family: Lexend Deca;
  font-weight: 400;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  margin-top: 70px;
}
button.sedan {
  width: 70%;
  background-color: white;
  color: hsl(31, 77%, 52%);
  padding: 10px;
}
button.suv {
  width: 70%;
  background-color: white;
  color: hsl(184, 100%, 22%);
  padding: 10px;
}
button.lxry {
  width: 70%;
  background-color: white;
  color: hsl(179, 100%, 13%);
  padding: 10px;
}
button.sedan:hover {
  background-color: hsl(31, 77%, 52%);
  color: white;
}
button.suv:hover {
  background-color: hsl(184, 100%, 22%);
  color: white;
}
button.lxry:hover {
  background-color: hsl(179, 100%, 13%);
  color: white;
}
a{
  background-color: green;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-family: Lexend Deca;
  font-weight: 400;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (max-width: 1440px) {
  main {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 375px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .sedans {
    border-radius: 0px;
  }
  .luxury {
    border-radius: 0px;
  }
}
